<form [formGroup]="registerForm" (ngSubmit)="registerUser()">
    <div class="row m-3">
        <label for="username">Username*</label>
        <input class="col form-field" id="username" formControlName="username" />
        <div *ngIf="registerForm.get('username')?.invalid && registerForm.get('username')?.touched">
            {{ errorMessages['username'] }}
        </div>
    </div>
    <div class="row m-3">
        <label for="password">Password*</label>
        <input class="col form-field" id="password" type="password" formControlName="password" />
        <div *ngIf="registerForm.get('password')?.errors?.['required'] && registerForm.get('password')?.touched">
            {{ errorMessages['password'] }}
        </div>
        <div *ngIf="registerForm.get('password')?.errors?.['pattern'] && registerForm.get('password')?.touched">
            {{ errorMessages['password'] }}
        </div>
    </div>
    <div class="row m-3">
        <label for="confirmPassword">Confirm Password*</label>
        <input class="col form-field" id="confirmPassword" type="password" formControlName="confirmPassword" />
        <div *ngIf="registerForm.errors?.['mismatch'] && registerForm.get('confirmPassword')?.touched">
            {{ errorMessages['mismatch'] }}
        </div>
    </div>
    <div class="row m-3" *ngIf="registerFailed">
        <label style="color: red">{{errorRegister}}</label>
    </div>
    <div class="form-check m-3">
        <input class="form-check-input" id="isMaster" type="checkbox" formControlName="isMaster" />
        <label class="form-check-label" for="isMaster">Register as Master</label>
    </div>
    
    <div class="row m-3" *ngIf="registerFailed">
        <label style="color: red">{{errorRegister}}</label>
    </div>
    <div class="row m-3">
        <button class="col btn btn-primary" type="submit" [disabled]="registerForm.invalid">Register</button>
    </div>
</form>
