<div class="container mt-5">
  <div class="card shadow">
    <div class="card-header bg-primary text-white">
      <h5 class="mb-0 text-center">Зміна профілю</h5>
    </div>
    <div class="card-body">
      <form [formGroup]="form" (ngSubmit)="submitProfile()">
        <div class="mb-3 row">
          <label for="email" class="col-sm-3 col-form-label"><strong>Електронна пошта</strong></label>
          <div class="col-sm-9">
            <input
              type="email"
              id="email"
              class="form-control"
              formControlName="email"
              placeholder="Введіть електронну пошту"
            />
          </div>
        </div>
        <div class="mb-3 row">
          <label for="phonenumber" class="col-sm-3 col-form-label"><strong>Номер телефону</strong></label>
          <div class="col-sm-9">
            <input
              type="text"
              id="phonenumber"
              class="form-control"
              formControlName="phonenumber"
              placeholder="Введіть номер телефону"
            />
          </div>
        </div>
        <div class="text-end">
          <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Оновити профіль</button>
        </div>
      </form>
    </div>
  </div>
</div>