<div class="container mt-5">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Change Profile</h5>
      </div>
      <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="submitProfile()">
          <div class="mb-3 row">
            <label for="email" class="col-sm-3 col-form-label"><strong>Email</strong></label>
            <div class="col-sm-9">
              <input
                type="email"
                id="email"
                class="form-control"
                formControlName="email"
                placeholder="Enter your email"
              />
            </div>
          </div>
  
          <div class="mb-3 row">
            <label for="phonenumber" class="col-sm-3 col-form-label"><strong>Phone Number</strong></label>
            <div class="col-sm-9">
              <input
                type="text"
                id="phonenumber"
                class="form-control"
                formControlName="phonenumber"
                placeholder="Enter your phone number"
              />
            </div>
          </div>
  
          <div class="text-end">
            <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Update Profile</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  