.badge {
  font-size: 0.8rem;
  padding: 0.4rem 0.6rem;
  color: #ffffff;
}

.table {
  vertical-align: middle;
}

.table th {
  background-color: #1f3745;
  color: #ffffff;
}

.table tr:nth-child(even) {
  background-color: #f0f5f5;
}

.table tr:hover {
  background-color: #d8ebeb;
}
