<form [formGroup]="orderForm" class="m-3" (ngSubmit)="submitOrder()">
  <div class="mb-3">
    <label for="name" class="form-label">Ім'я</label>
    <input
      id="name"
      formControlName="name"
      required
      class="form-control"
      [ngClass]="{'is-invalid': orderForm.get('name')?.invalid && orderForm.get('name')?.touched}"
    />
    <div class="invalid-feedback">
      Ім'я є обов'язковим.
    </div>
  </div>

  <div class="mb-3">
    <label for="address" class="form-label">Адреса</label>
    <input
      id="address"
      formControlName="address"
      required
      class="form-control"
      [ngClass]="{'is-invalid': orderForm.get('address')?.invalid && orderForm.get('address')?.touched}"
    />
    <div class="invalid-feedback">
      Адреса є обов'язковою.
    </div>
  </div>

  <div class="mb-3">
    <label for="phone" class="form-label">Телефон</label>
    <input
      id="phone"
      formControlName="phone"
      required
      class="form-control"
      [ngClass]="{'is-invalid': orderForm.get('phone')?.invalid && orderForm.get('phone')?.touched}"
    />
    <div class="invalid-feedback">
      Номер телефону є обов'язковим та повинен бути валідним.
    </div>
  </div>

  <div class="mb-3">
    <label for="comment" class="form-label">Коментар</label>
    <textarea id="comment" formControlName="comment" class="form-control"></textarea>
  </div>
  <p class="alert alert-info" *ngIf="error!=''">{{ error }}</p>
  <button type="submit" class="btn btn-primary" [disabled]="orderForm.invalid">Відправити</button>
</form>