<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">FurniTour</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" *ngIf="status.isAdmin" routerLink="adminorders">Order managament</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="items">Items</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" *ngIf="status.isUser" routerLink="cart">Cart</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" *ngIf="status.isUser" routerLink="myorders">Orders</a>
          </li>

        </ul>
        <ul class="nav navbar-nav ms-auto">
          <li class="nav-item" *ngIf="status.isAdmin">
            <a class="nav-link" tabindex="-1" aria-disabled="true" [routerLink]="['admin']">Admin</a>
        </li>
          <li class="nav-item" *ngIf="!status.isSignedIn else signedInAlready">
            <a class="nav-link" tabindex="-1" aria-disabled="true" [routerLink]="['login']">Login</a>
          </li>
          <li class="nav-item" *ngIf="!status.isSignedIn" >
            <a class="nav-link" tabindex="-1" aria-disabled="true" [routerLink]="['register']">Register</a>
          </li>
          
          <ng-template #signedInAlready>
            <li class="nav-item">
              <a class="nav-link" tabindex="-1" aria-disabled="true" [routerLink]="['logout']">Logout</a>
            </li>
          </ng-template>
        </ul>
      </div>
    </div>
  </nav>
<router-outlet></router-outlet>