<div class="container mt-4" *ngIf="orders.length > 0; else noOrders">
  <h2>Мої Замовлення</h2>
  <div *ngFor="let order of orders" class="card mb-3">
    <div class="card-header">
      <h5>Замовлення #{{ order.id }} - {{ order.orderState }}</h5>
    </div>
    <div class="card-body">
      <p><strong>Ім'я:</strong> {{ order.name }}</p>
      <p *ngIf="order.address"><strong>Адреса:</strong> {{ order.address }}</p>
      <p *ngIf="order.phone"><strong>Телефон:</strong> {{ order.phone }}</p>
      <p *ngIf="order.comment"><strong>Коментар:</strong> {{ order.comment }}</p>
      <p *ngIf="order.orderState"><strong>Стан Замовлення:</strong> {{ order.orderState }}</p>
      <p><strong>Дата створення:</strong> {{ order.dateCreated | date:'short' }}</p>
      <p><strong>Загальна Ціна:</strong> {{ order.price | currency }}</p>

      <h6>Товари у замовленні</h6>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Назва</th>
            <th>Кількість</th>
            <th>Ціна</th>
            <th>Майстер/Виробник</th>
            <th>Колір</th>
            <th>Категорія</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of order.orderItems">
            <td>{{ item.name }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.price | currency }}</td>
            <td>
              <ng-container *ngIf="item.master && item.master !== ''; else manufacturer">
                {{ item.master }}
              </ng-container>
              <ng-template #manufacturer>
                {{ item.manufacturer }}
              </ng-template>
            </td>
            <td>{{ item.color }}</td>
            <td>{{ item.category }}</td>
          </tr>
        </tbody>
      </table>
      <button class="btn btn-danger m-1" (click)="updateOrder(order.id, 2)">Скасувати Замовлення</button>
      <button class="btn btn-success m-1" (click)="updateOrder(order.id, 7)">Підтвердити доставку</button>
    </div>
  </div>
</div>

<!-- Якщо замовлення відсутні -->
<ng-template #noOrders>
  <div class="alert alert-warning mt-4">У вас немає замовлень.</div>
</ng-template>