<div class="container mt-5">
  <div class="row mb-4">
    <div class="col-12 text-center">
      <h1>Список товарів</h1>
      <button class="btn btn-primary m-1" *ngIf="status.isMaster || status.isAdmin" [routerLink]="['/create']">Додати товар</button>
    </div>
  </div>

  <!-- Форма пошуку -->
  <div class="row mb-4">
    <div class="col-md-8 offset-md-2">
      <form (ngSubmit)="searchItem()">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Пошук за описом" [(ngModel)]="searchDescription" name="searchDescription">
          <button class="btn btn-outline-secondary" type="submit">Пошук</button>
        </div>
      </form>
    </div>
  </div>

  <!-- Результат пошуку -->
  <div class="row mb-5" *ngIf="searchResult">
    <div class="col-12">
      <div class="card mb-4 shadow">
        <div class="row g-0">
          <div class="col-md-4">
            <img [src]="'data:image/jpeg;base64,' + searchResult.image" class="img-fluid rounded-start" alt="{{ searchResult.name }}">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{ searchResult.name }}</h5>
              <p class="card-text">{{ searchResult.description }}</p>
              <p *ngIf="searchResult.master !== ''" class="card-text">
                <strong>Майстер:</strong>
                <a [routerLink]="['/profile/master', searchResult.master]">{{ searchResult.master}}</a>
              </p>
              <p *ngIf="searchResult.manufacturer !== ''" class="card-text">
                <strong>Виробник:</strong>
                <a [routerLink]="['/profile/manufacturer', searchResult.manufacturer]">{{ searchResult.manufacturer}}</a>
              </p>
              <p class="card-text"><strong>Ціна:</strong> ${{ searchResult.price }}</p>
              <p class="card-text"><strong>Категорія:</strong> {{ searchResult.category }}</p>
              <p class="card-text"><strong>Колір:</strong> {{ searchResult.color }}</p>
              <div *ngIf="status.isUser">
                <label for="quantity" class="form-label">Кількість:</label>
                <input type="number" id="quantity" [(ngModel)]="quantity[searchResult.id]" min="1" class="form-control mb-2" value="1" />
              </div>
              <div>
                <button class="btn btn-warning m-1" [routerLink]="['/details', searchResult.id]">Дивитися деталі</button>
                <button class="btn btn-primary m-1" *ngIf="status.isAdmin || status.isMaster" [routerLink]="['/edit', searchResult.id]">Редагувати</button>
                <button class="btn btn-danger m-1" *ngIf="status.isAdmin || status.isMaster" (click)="Delete(searchResult.id)">Видалити</button>
                <button class="btn btn-success m-1" *ngIf="status.isUser" (click)="AddToCart(searchResult.id, quantity[searchResult.id])">Додати в кошик</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Рекомендовані товари -->
  <div class="row mb-4" *ngIf="RecomendedItems && RecomendedItems.length">
    <div class="col-12">
      <h3 class="mb-3">Рекомендовані товари</h3>
    </div>
    <div class="col-md-4" *ngFor="let item of RecomendedItems">
      <div class="card mb-4 shadow-sm">
        <img [src]="'data:image/jpeg;base64,' + item.image" class="card-img-top" alt="{{ item.name }}">
        <div class="card-body">
          <h5 class="card-title text-center">{{ item.name }}</h5>
          <p class="card-text">{{ item.description }}</p>
          <p *ngIf="item.master !== ''" class="card-text">
            <strong>Майстер:</strong>
            <a [routerLink]="['/profile/master', item.master]">{{ item.master}}</a>
          </p>
          <p *ngIf="item.manufacturer !== ''" class="card-text">
            <strong>Виробник:</strong>
            <a [routerLink]="['/profile/manufacturer', item.manufacturer]">{{ item.manufacturer}}</a>
          </p>
          <p class="card-text"><strong>Ціна:</strong> ${{ item.price }}</p>
          <p class="card-text"><strong>Категорія:</strong> {{ item.category }}</p>
          <p class="card-text"><strong>Колір:</strong> {{ item.color }}</p>
          <div *ngIf="status.isUser">
            <label for="quantity-{{item.id}}" class="form-label">Кількість:</label>
            <input type="number" id="quantity-{{item.id}}" [(ngModel)]="quantity[item.id]" min="1" class="form-control mb-2" value="1">
          </div>
          <div class="d-grid gap-2">
            <button class="btn btn-warning" [routerLink]="['/details', item.id]">Дивитися деталі</button>
            <button class="btn btn-primary" *ngIf="status.isAdmin || status.isMaster" [routerLink]="['/edit', item.id]">Редагувати</button>
            <button class="btn btn-danger" *ngIf="status.isAdmin || status.isMaster" (click)="Delete(item.id)">Видалити</button>
            <button class="btn btn-success" *ngIf="status.isUser" (click)="AddToCart(item.id, quantity[item.id])">Додати в кошик</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Всі товари -->
  <div class="row">
    <div class="col-12">
      <h3 class="mb-3">Всі товари</h3>
    </div>
    <div class="col-md-4" *ngFor="let item of items">
      <div class="card mb-4 shadow-sm">
        <img [src]="'data:image/jpeg;base64,' + item.image" class="card-img-top" alt="{{ item.name }}">
        <div class="card-body">
          <h5 class="card-title text-center">{{ item.name }}</h5>
          <p class="card-text">{{ item.description }}</p>
          <p *ngIf="item.master !== ''" class="card-text">
            <strong>Майстер:</strong>
            <a [routerLink]="['/profile/master', item.master]">{{ item.master}}</a>
          </p>
          <p *ngIf="item.manufacturer !== ''" class="card-text">
            <strong>Виробник:</strong>
            <a [routerLink]="['/profile/manufacturer', item.manufacturer]">{{ item.manufacturer}}</a>
          </p>
          <p class="card-text"><strong>Ціна:</strong> ${{ item.price }}</p>
          <p class="card-text"><strong>Категорія:</strong> {{ item.category }}</p>
          <p class="card-text"><strong>Колір:</strong> {{ item.color }}</p>
          <div *ngIf="status.isUser">
            <label for="quantity-all-{{item.id}}" class="form-label">Кількість:</label>
            <input type="number" id="quantity-all-{{item.id}}" [(ngModel)]="quantity[item.id]" min="1" class="form-control mb-2" value="1">
          </div>
          <div class="d-grid gap-2">
            <button class="btn btn-warning" [routerLink]="['/details', item.id]">Дивитися деталі</button>
            <button class="btn btn-primary" *ngIf="status.isAdmin || status.isMaster" [routerLink]="['/edit', item.id]">Редагувати</button>
            <button class="btn btn-danger" *ngIf="status.isAdmin || status.isMaster" (click)="Delete(item.id)">Видалити</button>
            <button class="btn btn-success" *ngIf="status.isUser" (click)="AddToCart(item.id, quantity[item.id])">Додати в кошик</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>