<div class="profile-container" *ngIf="profile.username; else noProfile">
  <h1>Master Profile</h1>

  <div class="card">
    <div class="card-header">
      <h2>{{ profile.username }}</h2>
    </div>

    <div class="card-body">
      <p>Email: {{ profile.email }}</p>
      <p>Phone: {{ profile.phonenumber }}</p>

      <div *ngIf="profile.reviews.length > 0; else noReviews">
        <h3>Reviews:</h3>
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let review of profile.reviews">
            <p><strong>{{ review.username }}:</strong> {{ review.comment }}</p>
            <p>Rating: {{ review.rating }}/5</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h2>AI Review</h2>
      </div>
      <div class="card-body">
        <p>{{ this.AIReview.review }}</p>
      </div>
    </div>
    <div class="card-footer">
      <a class="btn btn-primary" [routerLink]="['/masterreview/add', profile.username]" routerLinkActive="router-link-active">
        Add review
      </a>
    </div>
  </div>
</div>

<!-- No Profile Available -->
<ng-template #noProfile>
  <div class="alert alert-warning" role="alert">
    No master profile found.
  </div>
</ng-template>

<!-- No Reviews Available -->
<ng-template #noReviews>
  <div class="alert alert-info" role="alert">
    No reviews available for this master.
  </div>
</ng-template>
