<div class="container mt-4">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <img *ngIf="item.image" [src]="'data:image/jpeg;base64,' + item.image" class="card-img-top" alt="{{ item.name }}" />
        <div class="card-body">
          <h5 class="card-title">{{ item.name }}</h5>
          <p class="card-text">{{ item.description }}</p>
          <p *ngIf="item.master!=''" class="card-text"><strong>Майстер:</strong> {{ item.master }}</p>
          <p *ngIf="item.manufacturer!=''" class="card-text"><strong>Виробник:</strong> {{ item.manufacturer }}</p>
          <p class="card-text"><strong>Ціна:</strong> ${{ item.price }}</p>
          <p class="card-text"><strong>Категорія:</strong> {{ item.category }}</p>
          <p class="card-text"><strong>Колір:</strong> {{ item.color }}</p>
        </div>
        <div class="card-footer text-center">
          <button class="btn btn-primary" [routerLink]="['/items']">Повернутися</button>
        </div>
      </div>
    </div>
  </div>
</div>